<p-toast [key]="'ext'"></p-toast>
<p-blockUI [blocked]="isLoading"></p-blockUI>

<!-- Filtro -->
<div class="card p-fluid p-formgrid grid">
    <div class="field col-12 md:col-3">
        <label>Empresa</label>
        <ut-regional [regionales]="usuarioSesion.regionales" (onSelect)="regional = $event?.id || null"
            [showClear]="true" [placeholder]="'Todos'">
        </ut-regional>
    </div>
    <div class="field col-2 md:col-2 button">
        <button pButton class="p-element p-button p-component" icon="pi pi-search" (click)="listarForward()"></button>
        <button pButton class="p-element p-button p-component" icon="pi pi-plus" (click)="agregarForward()"></button>
        <button pButton class="p-element p-button p-component" icon="pi pi-file-excel" (click)="exportExcel()"
            [disabled]="forwards.length == 0"></button>
    </div>
</div>
<!-- Filtro -->

<!-- Tablero -->
<div class="card" #card>
    <p-table #dt [value]="forwards" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" styleClass="mt-3" [loading]="isLoading" responsiveLayout="scroll"
        [paginator]="true" currentPageReportTemplate="Obligación {first} al {last} de {totalRecords} obligaciones"
        [filterDelay]="0" [globalFilterFields]="['id','regional','entfinanciera','estado']">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Busqueda" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Regional</th>
                <th>Entidad</th>
                <th>Fecha Operación</th>
                <th>Spot</th>
                <th>Valor</th>
                <th>Valor x Asignar</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-forward>
            <tr>
                <td> {{forward.id }} </td>
                <td> {{forward.regional }} </td>
                <td> {{forward.entfinanciera }} </td>
                <td> {{forward.fechaoperacion | date: 'dd/MM/yyyy' }} </td>
                <td style="text-align: right;"> {{forward.tasaspot | currency }} </td>
                <td style="text-align: right;"> {{forward.valorusd | currency }} </td>
                <td style="text-align: right;"> {{forward.saldoasignacion | currency }} </td>
                <td>
                    <p-splitButton label="+" [model]="this.items" [appendTo]="card"
                        (onDropdownClick)="idforwardSelect = forward.id"></p-splitButton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- Tablero -->

<!-- Crear Forward -->
<p-dialog #fw [modal]="true" header="Crear Forward" *ngIf="display" [(visible)]="display" [style]="{width:'90vw'}">
    <p-toast [key]="'dialog'"></p-toast>

    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-4">
            <label>Empresa</label>
            <ut-regional [regionales]="usuarioSesion.regionales" [appendTo]="credV"
                (onSelect)="forward.regional = $event">
            </ut-regional>
        </div>
        <div class="field col-12 md:col-4">
            <label>Entidad Financiera</label>
            <ut-catalogo [idCatalogo]="'ENTFIN'" [appendTo]="fw" (onSelect)="forward.entfinanciera = $event">
            </ut-catalogo>
        </div>
        <div class="field col-12 md:col-4">
            <label>Valor USD</label>
            <p-inputNumber [showButtons]="false" inputId="valorusd" mode="currency" currency="USD" [min]="0"
                [(ngModel)]="forward.valorusd" (focusout)="calcularValorCOP()">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label>Fecha Operacion</label>
            <p-calendar [appendTo]="fw" [(ngModel)]="forward.fechaoperacion" dateFormat="dd/mm/yy"
                (onSelect)="devaluacion()">
            </p-calendar>
        </div>
        <div class="field col-12 md:col-3">
            <label>Fecha Cumplimiento</label>
            <p-calendar [appendTo]="fw" [(ngModel)]="forward.fechacumplimiento" dateFormat="dd/mm/yy"
                [minDate]="forward.fechaoperacion" (onSelect)="devaluacion()">
            </p-calendar>
        </div>
        <div class="field col-12 md:col-3">
            <label>Tasa SPOT</label>
            <p-inputNumber [showButtons]="false" inputId="tasaspot" mode="currency" currency="COP" [min]="0"
                [(ngModel)]="forward.tasaspot" (focusout)="devaluacion()">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label>Tasa Forward</label>
            <p-inputNumber [showButtons]="false" inputId="tasaforward" mode="currency" currency="COP" [min]="0"
                [(ngModel)]="forward.tasaforward" (focusout)="calcularValorCOP(); devaluacion()">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label>Dias</label>
            <p-inputNumber [showButtons]="false" inputId="dias" mode="decimal" [(ngModel)]="forward.dias"
                [disabled]="true">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label>Devaluación</label>
            <p-inputNumber [showButtons]="false" inputId="devaluacion" [step]="0.25" mode="decimal" [disabled]="true"
                [minFractionDigits]="2" [maxFractionDigits]="4" suffix="%" [(ngModel)]="forward.devaluacion">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label>Valor COP</label>
            <p-inputNumber [showButtons]="false" inputId="valorcop" mode="currency" currency="COP" [min]="0"
                [(ngModel)]="forward.valorcop" [disabled]="true">
            </p-inputNumber>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton [icon]="'pi pi-save'" (click)="guardarForward()" [label]="'Guardar'"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
<!-- Crear Forward -->

<!-- Detalle Forward -->
<p-dialog #fwd [modal]="true" header="Detalle Forward" *ngIf="displayDetalle" [(visible)]="displayDetalle"
    [style]="{width:'90vw'}">
    <p-toast [key]="'dialog'"></p-toast>
    <p-tabView>
        <p-tabPanel header="Información del Forward">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Empresa</label>
                    <ut-regional [regionales]="usuarioSesion.regionales" [appendTo]="credV" [disabled]="!canEdit"
                        [default]="forward.regional">
                    </ut-regional>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Entidad Financiera</label>
                    <ut-catalogo [idCatalogo]="'ENTFIN'" [appendTo]="fw" [disabled]="!canEdit"
                        [default]="forward.entfinanciera">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Fecha Operacion</label>
                    <p-calendar [appendTo]="fw" [(ngModel)]="forward.fechaoperacion" dateFormat="dd/mm/yy"
                        [disabled]="!canEdit" (focusout)="devaluacion()">
                    </p-calendar>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Fecha Cumplimiento</label>
                    <p-calendar [appendTo]="fw" [(ngModel)]="forward.fechacumplimiento" dateFormat="dd/mm/yy"
                        [minDate]="forward.fechaoperacion" [disabled]="!canEdit" (focusout)="devaluacion()">
                    </p-calendar>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Dias</label>
                    <p-inputNumber [showButtons]="false" inputId="dias" mode="decimal" [(ngModel)]="forward.dias"
                        [disabled]="true">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Valor USD</label>
                    <p-inputNumber [showButtons]="false" inputId="valorusd" mode="currency" currency="USD" [min]="0"
                        [(ngModel)]="forward.valorusd" (focusout)="calcularValorCOP()" [disabled]="!canEdit">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Tasa SPOT</label>
                    <p-inputNumber [showButtons]="false" inputId="tasaspot" mode="currency" currency="COP" [min]="0"
                        [(ngModel)]="forward.tasaspot" [disabled]="!canEdit">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Devaluación</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="devaluacion"
                        spinnerMode="horizontal" [step]="0.25" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="0" [max]="50" suffix="%"
                        [(ngModel)]="forward.devaluacion" [disabled]="true">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Tasa Forward</label>
                    <p-inputNumber [showButtons]="false" inputId="tasaforward" mode="currency" currency="COP" [min]="0"
                        [(ngModel)]="forward.tasaforward" (focusout)="calcularValorCOP()" [disabled]="!canEdit">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Valor COP</label>
                    <p-inputNumber [showButtons]="false" inputId="valorcop" mode="currency" currency="COP" [min]="0"
                        [(ngModel)]="forward.valorcop" [disabled]="true">
                    </p-inputNumber>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel *ngIf="forward.creditos.length > 0" header="Creditos">
            <ut-listado-credito [data]="forward.creditos"></ut-listado-credito>
        </p-tabPanel>
    </p-tabView>
    <ng-template pTemplate="footer">
        <button pButton [icon]="'pi pi-times'" (click)="displayDetalle = false" [label]="'Cerrar'"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
<!-- Detalle Forward -->

<!-- Asignar Credito -->
<p-dialog #ac [modal]="true" header="Asignar Crédito" *ngIf="displayAsignar" [(visible)]="displayAsignar"
    [style]="{width:'50vw'}">
    <p-toast [key]="'dialog'"></p-toast>
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label>Empresa</label>
            <ut-credito [appendTo]="ac" [idRegional]="forward.regional.id"
                (credito)="creditoAsignar = $event; creditoForward.valorasignado = $event.saldoasignacion < forward.saldoasignacion ? $event.saldoasignacion : forward.saldoasignacion">
            </ut-credito>
        </div>
        <div class="field col-12 md:col-6">
            <label>Valor Asignar</label>
            <p-inputNumber [showButtons]="false" inputId="valorcop" mode="currency" currency="USD" [min]="0"
                [(ngModel)]="creditoForward.valorasignado" [min]="1" [max]="forward.saldoasignacion">
            </p-inputNumber>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton [icon]="'pi pi-save'" (click)="asignarCredito()" [label]="'Asignar Crédito'"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>