<p-toast></p-toast>
<p-blockUI [blocked]="isLoading"></p-blockUI>

<div class="grid">
    <div class="col-12">
        <p-card [header]="'Calendario'">
            <p-table [value]="calendario" [rowHover]="true" [rows]="12">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Registro</th>
                        <th>Proceso</th>
                        <th>Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-calendario>
                    <tr>
                        <td>{{calendario.ano}}</td>
                        <td>{{calendario.mes}}</td>
                        <td>
                            <p-tag *ngIf="calendario.registro" severity="success" value="Activo"></p-tag>
                            <p-tag *ngIf="!calendario.registro" severity="warning" value="Inactivo"></p-tag>
                        </td>
                        <td>
                            <p-tag *ngIf="calendario.proceso" severity="success" value="Activo"></p-tag>
                            <p-tag *ngIf="!calendario.proceso" severity="warning" value="Inactivo"></p-tag>
                        </td>
                        <td>
                            <p-splitButton label="+" [model]="this.items" [appendTo]="card"
                                (onDropdownClick)="calendarioSelected = calendario"></p-splitButton>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>

<p-dialog [(visible)]="display" *ngIf="display" [modal]="true" [header]="calendarioSelected.mes">
    <h5>Registro</h5>
    <p-inputSwitch [(ngModel)]="calendarioSelected.registro"></p-inputSwitch>

    <h5>Proceso</h5>
    <p-inputSwitch [(ngModel)]="calendarioSelected.proceso"></p-inputSwitch>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-save" (click)="actualizarPeriodo()" label="Actualizar"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>