<p-toast></p-toast>
<p-blockUI [blocked]="isLoading"></p-blockUI>

<div class="card">
    <p-toolbar class="mb-2">
        <div class="p-toolbar-group-left">
            <ut-regional [regionales]="user.regionales" (onSelect)="regional = $event || null; data = []"
                [placeholder]="'Regional'">
            </ut-regional>
            <ut-calendario trx="Registro" (onSelect)="mesSeleccionado($event); data = []" class="ml-2"></ut-calendario>
        </div>
    </p-toolbar>
    <p-calendar *ngIf="regional && data.length > 0" dateFormat="dd/mm/yy" placeholder="Fecha" showOtherMonths="false"
        class="mt-2" [inline]="true" [(ngModel)]="fechaselecionada" [minDate]="minDate" [maxDate]="maxDate"
        (onSelect)="fechaSelect()">
        <ng-template pTemplate="date" let-date>
            <span [ngStyle]="getStyle(date)">{{date.day}}</span>
        </ng-template>
        <ng-template pTemplate="footer">
            <span [ngStyle]="{color: '#d36507'}">Pendiente</span> <br>
            <span [ngStyle]="{color: '#003dc7'}">Parcial</span> <br>
            <span [ngStyle]="{color: '#099113'}">Actualizado</span>
        </ng-template>
    </p-calendar>
</div>

<p-dialog [(visible)]="displayDate" *ngIf="displayDate" [modal]="true" [header]="header">
    <p-table [value]="datasaldos" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <td>Entidad</td>
                <td>Tipo Cuenta</td>
                <td># Cuenta</td>
                <td>Valor</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cuenta>
            <tr>
                <td>{{cuenta.entfinanciera}}</td>
                <td>{{cuenta.tipocuenta}}</td>
                <td>{{cuenta.ncuenta}}</td>
                <td>
                    <p-inputNumber [(ngModel)]="cuenta.valor" mode="currency" [currency]="cuenta.moneda.prefix"
                        [minFractionDigits]="2"></p-inputNumber>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" (click)="procesarSaldos()"></p-button>
    </ng-template>
</p-dialog>
<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>