<p-toast></p-toast>
<p-blockUI [blocked]="isLoading"></p-blockUI>

<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <ut-regional [regionales]="user.regionales" (onSelect)="regional = $event || null"
                [placeholder]="'Regional'">
            </ut-regional>
            <p-calendar *ngIf="regional" [(ngModel)]="range" (onSelect)="createRange()" selectionMode="range"
                [readonlyInput]="true" inputId="range" dateFormat="dd/mm/yy" placeholder="Fecha"
                class="ml-2"></p-calendar>
        </div>
        <div class="p-toolbar-group-right">
            <p-button icon="pi pi-search" class="mr-2" (onClick)="listar()"></p-button>
        </div>
    </p-toolbar>


    <p-table *ngIf="data.length > 0" [value]="data" sortField="entfinanciera" sortMode="single" [scrollable]="true"
         rowGroupMode="subheader" groupRowsBy="entfinanciera" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center; width: 350px;" pFrozenColumn>Numero Cuenta</th>
                <th style="text-align: center; width: 250px;" *ngFor="let h of headers">
                    <span style="width: 180px; margin: auto;">{{h | date : 'MMM, E, dd'}}</span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-cuenta>
            <tr pRowGroupHeader>
                <td [colspan]="colspan" pFrozenColumn>
                    <span class="font-bold ml-2">{{cuenta.entfinanciera}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cuenta>
            <tr>
                <td style="width: 350px;" pFrozenColumn>{{cuenta.ncuenta}}</td>
                <td style="width: 250px;justify-content: flex-end" *ngFor="let h of headers; let i = index"
                    pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="cuenta.detalle[i].valor" (focusout)="guardarSaldo(cuenta, i)" (keydown.enter)="guardarSaldo(cuenta, i)"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{cuenta.moneda.config.prefix}} {{ cuenta.detalle[i].valor | number: '1.0-0'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>