<p-toast></p-toast>
<p-blockUI [blocked]="isLoading"></p-blockUI>

<div class="card">
    <p-toolbar class="mb-2">
        <div class="p-toolbar-group-left">
            <ut-regional [regionales]="user.regionales" (onSelect)="regional = $event || null; cambioMes(currentDate)"
                [placeholder]="'Regional'">
            </ut-regional>
        </div>
    </p-toolbar>
</div>
<div class="card" *ngIf="regional">
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>
<!-- Diligenciar Saldos -->
<p-dialog [(visible)]="displayDate" *ngIf="displayDate" [modal]="true" [header]="header">
    <p-table [value]="datasaldos" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <td class="text-center">Entidad</td>
                <td class="text-center">Tipo Cuenta</td>
                <td class="text-center"># Cuenta</td>
                <td class="text-center">Valor</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cuenta>
            <tr>
                <td>{{cuenta.entfinanciera}}</td>
                <td>{{cuenta.tipocuenta}}</td>
                <td>{{cuenta.ncuenta}}</td>
                <td>
                    <p-inputNumber [(ngModel)]="cuenta.valor" mode="currency" [currency]="cuenta.moneda.prefix"
                        [minFractionDigits]="2"></p-inputNumber>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <p-button label="Crear Cuenta" icon="pi pi-plus" (click)="displayDate = false; displayCuenta = true"></p-button>
        <p-button label="Guardar" icon="pi pi-save" (click)="procesarSaldos()"></p-button>
    </ng-template>
</p-dialog>
<!-- Diligenciar Saldos -->

<!-- Crear Cuenta -->
<p-dialog [(visible)]="displayCuenta" *ngIf="displayCuenta" [modal]="true" [header]="'Crear Cuenta'">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-4">
            <label>Empresa</label>
            <ut-regional [regionales]="user.regionales" [appendTo]="'body'" [disabled]="true"
                (onSelect)="cuentaBancaria.regional = $event" [default]="regional">
            </ut-regional>
        </div>
        <div class="field col-12 md:col-4">
            <label>Entidad</label>
            <ut-catalogo [idCatalogo]="'ENTFIN'" [appendTo]="'body'"
                (onSelect)="cuentaBancaria.entfinanciera = $event">
            </ut-catalogo>
        </div>
        <div class="field col-12 md:col-4">
            <label>Tipo de Cuenta</label>
            <ut-catalogo [idCatalogo]="'TIPCUE'" [appendTo]="'body'" (onSelect)="cuentaBancaria.tipocuenta = $event">
            </ut-catalogo>
        </div>
        <div class="field col-12 md:col-4">
            <label>Moneda</label>
            <ut-catalogo [idCatalogo]="'MONEDA'" [appendTo]="'body'" (onSelect)="cuentaBancaria.moneda = $event">
            </ut-catalogo>
        </div>
        <div class="field col-12 md:col-4">
            <label># Cuenta</label>
            <input pInputText type="text" [(ngModel)]="cuentaBancaria.ncuenta" />
        </div>
        <div class="field col-12 md:col-4">
            <label>Fecha de Apertura</label>
            <p-calendar [appendTo]="'body'" [(ngModel)]="cuentaBancaria.fechaapertura" dateFormat="dd/mm/yy">
            </p-calendar>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" (click)="guardarCuenta()"></p-button>
    </ng-template>
</p-dialog>
<!-- Crear Cuenta -->
<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>