<p-toast [key]="'ext'"></p-toast>
<p-blockUI [blocked]="isLoading"></p-blockUI>

<!-- Filtro -->
<div class="card p-fluid p-formgrid grid">
    <div class="field col-12 md:col-3">
        <label>Empresa</label>
        <ut-regional [regionales]="usuarioSesion.regionales" (onSelect)="regional = $event?.id || null"
            [showClear]="true" [placeholder]="'Todos'">
        </ut-regional>
    </div>
    <div class="field col-12 md:col-2 button">
        <button pButton class="p-element p-button p-component" icon="pi pi-search" (click)="listarCreditos()"></button>
        <button pButton class="p-element p-button p-component" icon="pi pi-plus" (click)="agregarObligacion()"></button>
        <button pButton class="p-element p-button p-component" icon="pi pi-file-excel" (click)="exportExcel()"
            [disabled]="creditos.length == 0"></button>
    </div>
</div>
<!-- Filtro -->

<!-- Tablero -->
<div class="card" #card>
    <p-table #dt [value]="creditos" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" styleClass="mt-3" [loading]="isLoading" responsiveLayout="scroll"
        [paginator]="true" currentPageReportTemplate="Obligación {first} al {last} de {totalRecords} obligaciones"
        [filterDelay]="0" [globalFilterFields]="['id','regional','entfinanciera','moneda']">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Busqueda" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;">#</th>
                <th style="text-align: center;">Regional</th>
                <th style="text-align: center;">Entidad</th>
                <th style="text-align: center;">Moneda</th>
                <th style="text-align: center;">Fecha Desembolso</th>
                <th style="text-align: center;">V. Desembolso</th>
                <th style="text-align: center;">Saldo</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-credito>
            <tr>
                <td> {{credito.id }} </td>
                <td> {{credito.regional }} </td>
                <td> {{credito.entfinanciera }} </td>
                <td> {{credito.moneda }} </td>
                <td> {{credito.fechadesembolso | date: 'dd/MM/yyyy' }} </td>
                <td style="text-align: right;"> {{credito.capital | currency }} </td>
                <td style="text-align: right;"> {{credito.saldo | currency }} </td>
                <td>
                    <p-splitButton label="+" [model]="this.items" [appendTo]="card"
                        (onDropdownClick)="idCreditoSelect = credito.id"></p-splitButton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- Tablero -->

<!-- Crear credito -->
<p-dialog #cred [modal]="true" header="Crear Obligación" *ngIf="display" [(visible)]="display" [style]="{width:'90vw'}">
    <p-toast [key]="'dialog'"></p-toast>
    <p-tabView [(activeIndex)]="indexTab">
        <p-tabPanel header="Información del Crédito">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label>Empresa</label>
                    <ut-regional [regionales]="usuarioSesion.regionales" [appendTo]="cred"
                        (onSelect)="credito.regional = $event">
                    </ut-regional>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Moneda</label>
                    <ut-catalogo [idCatalogo]="'MONEDA'" [appendTo]="cred" (onSelect)="credito.moneda = $event">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Entidad</label>
                    <ut-catalogo [idCatalogo]="'ENTFIN'" [appendTo]="cred"
                        (onSelect)="credito.entfinanciera = $event; validarPagare()">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Linea Crédito</label>
                    <ut-catalogo [idCatalogo]="'LINCRE'" [appendTo]="cred" (onSelect)="credito.lineacredito = $event">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Pagaré</label>
                    <input pInputText id="pagare" type="text" [(ngModel)]="credito.pagare"
                        (focusout)="validarPagare()" />
                </div>
                <div class="field col-12 md:col-3">
                    <label>Tipo de Garantía</label>
                    <ut-catalogo [idCatalogo]="'TIPGAR'" [appendTo]="cred" (onSelect)="credito.tipogarantia = $event">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Fecha Desembolso</label>
                    <p-calendar [appendTo]="cred" [(ngModel)]="credito.fechadesembolso" dateFormat="dd/mm/yy">
                    </p-calendar>
                </div>
                <div class="field col-12 md:col-3" *ngIf="credito.moneda">
                    <label>Monto Deuda</label>
                    <p-inputNumber inputId="currency-us" mode="currency" [currency]="credito.moneda.config.prefix"
                        [maxFractionDigits]="credito.moneda.config.maxFractionDigits" [(ngModel)]="credito.capital">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Plazo (Meses)</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="periodo"
                        spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="1" [max]="120"
                        [(ngModel)]="credito.plazo">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Periodo de Gracia (Meses)</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="periodo"
                        spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="0" [max]="120"
                        [(ngModel)]="credito.periodogracia">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Indexado</label>
                    <ut-catalogo [idCatalogo]="'INDEX'" [appendTo]="cred" (onSelect)="credito.indexado = $event">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3" *ngIf="credito.indexado?.config?.catalogo === false">
                    <label>{{credito.indexado.descripcion}}</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="spread"
                        spinnerMode="horizontal" [step]="0.25" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="credito.indexado.config.min"
                        [max]="credito.indexado.config.max" suffix="%" [(ngModel)]="credito.tasa">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Spread</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="spread"
                        spinnerMode="horizontal" [step]="0.25" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="0" [max]="20" suffix="%"
                        [minFractionDigits]="2" [maxFractionDigits]="4" [(ngModel)]="credito.spread">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Tipo de Interes</label>
                    <ut-catalogo [idCatalogo]="'TIPINT'" [appendTo]="cred" (onSelect)="credito.tipointeres = $event">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Amortización Capital</label>
                    <ut-catalogo [idCatalogo]="'AMOCAP'" [appendTo]="cred" (onSelect)="credito.amortizacionk = $event">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Amortización Interes</label>
                    <ut-catalogo [idCatalogo]="'AMOINT'" [appendTo]="cred"
                        (onSelect)="credito.amortizacionint = $event">
                    </ut-catalogo>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Amortización" [disabled]="true">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-3">
                    <label>Tasa Indx</label>
                    <input pInputText id="tasa" type="text" [(ngModel)]="macroEconomico.tipo" [disabled]="true" />
                </div>
                <div class="field col-12 md:col-3">
                    <label>Fecha Tasa</label>
                    <p-calendar [(ngModel)]="macroEconomico.fecha" [disabled]="true" dateFormat="dd/mm/yy"></p-calendar>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Valor</label>
                    <p-inputNumber inputId="valor" mode="decimal" [disabled]="true" [suffix]="macroEconomico.unidad"
                        [(ngModel)]="macroEconomico.valor">
                    </p-inputNumber>
                </div>
            </div>
            <ut-amortizacion [data]="credito.amortizacion" [prefix]="credito?.moneda?.config?.prefix"></ut-amortizacion>
        </p-tabPanel>
    </p-tabView>

    <ng-template pTemplate="footer">
        <button pButton [icon]="indexTab === 0 ? 'pi pi-arrow-right': 'pi pi-save'" (click)="procesarCredito()"
            [label]="indexTab === 0 ? 'Siguiente': 'Guardar'" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
<!-- Crear credito -->

<!-- Detalle de Credito -->
<p-dialog #credV [modal]="true" header="{{canEdit ? 'Editar' : 'Detalle'}} Obligación" *ngIf="displayDetalle"
    [(visible)]="displayDetalle" [style]="{width:'90vw'}">
    <p-toast [key]="'dialog'"></p-toast>
    <p-tabView [(activeIndex)]="indexTab">
        <p-tabPanel header="Información del Crédito">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label>Empresa</label>
                    <ut-regional [regionales]="usuarioSesion.regionales" [appendTo]="credV"
                        (onSelect)="credito.regional = $event" [default]="credito.regional" [disabled]="!canEdit">
                    </ut-regional>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Moneda</label>
                    <ut-catalogo [idCatalogo]="'MONEDA'" [appendTo]="credV" (onSelect)="credito.moneda = $event"
                        [default]="credito.moneda" [disabled]="!canEdit">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Entidad</label>
                    <ut-catalogo [idCatalogo]="'ENTFIN'" [appendTo]="credV" (onSelect)="credito.entfinanciera = $event"
                        [default]="credito.entfinanciera" [disabled]="!canEdit">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Linea Crédito</label>
                    <ut-catalogo [idCatalogo]="'LINCRE'" [appendTo]="credV" (onSelect)="credito.lineacredito = $event"
                        [default]="credito.lineacredito" [disabled]="!canEdit">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Pagaré</label>
                    <input pInputText id="pagare" type="text" [(ngModel)]="credito.pagare" [disabled]="!canEdit" />
                </div>
                <div class="field col-12 md:col-3">
                    <label>Tipo de Garantía</label>
                    <ut-catalogo [idCatalogo]="'TIPGAR'" [appendTo]="credV" (onSelect)="credito.tipogarantia = $event"
                        [default]="credito.tipogarantia" [disabled]="!canEdit">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Fecha Desembolso</label>
                    <p-calendar [appendTo]="credV" [(ngModel)]="credito.fechadesembolso" dateFormat="dd/mm/yy"
                        [disabled]="!canEdit">
                    </p-calendar>
                </div>
                <div class="field col-12 md:col-3" *ngIf="credito.moneda">
                    <label>Monto Deuda</label>
                    <p-inputNumber inputId="currency-us" mode="currency" [currency]="credito.moneda.config.prefix"
                        [maxFractionDigits]="credito.moneda.config.maxFractionDigits" [(ngModel)]="credito.capital"
                        [disabled]="!canEdit">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Plazo (Meses)</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="periodo"
                        spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="1" [max]="120"
                        [(ngModel)]="credito.plazo" [disabled]="!canEdit">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Periodo de Gracia (Meses)</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="periodo"
                        spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="0" [max]="120"
                        [(ngModel)]="credito.periodogracia" [disabled]="!canEdit">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Indexado</label>
                    <ut-catalogo [idCatalogo]="'INDEX'" [appendTo]="credV" (onSelect)="credito.indexado = $event"
                        [default]="credito.indexado" [disabled]="!canEdit">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-3" *ngIf="credito.indexado?.config?.catalogo === false">
                    <label>{{credito.indexado.descripcion}}</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="spread"
                        spinnerMode="horizontal" [step]="0.25" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="credito.indexado.config.min"
                        [max]="credito.indexado.config.max" suffix="%" [(ngModel)]="credito.tasa" [disabled]="!canEdit">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Spread</label>
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="spread"
                        spinnerMode="horizontal" [step]="0.25" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" [min]="0" [max]="5" suffix="%"
                        [(ngModel)]="credito.spread" [disabled]="!canEdit">
                    </p-inputNumber>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Tipo de Interes</label>
                    <ut-catalogo [idCatalogo]="'TIPINT'" [appendTo]="credV" (onSelect)="credito.tipointeres = $event"
                        [default]="credito.tipointeres" [disabled]="!canEdit">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Amortización Capital</label>
                    <ut-catalogo [idCatalogo]="'AMOCAP'" [appendTo]="credV" (onSelect)="credito.amortizacionk = $event"
                        [default]="credito.amortizacionk" [disabled]="!canEdit">
                    </ut-catalogo>
                </div>
                <div class="field col-12 md:col-4">
                    <label>Amortización Interes</label>
                    <ut-catalogo [idCatalogo]="'AMOINT'" [appendTo]="credV"
                        (onSelect)="credito.amortizacionint = $event" [default]="credito.amortizacionint"
                        [disabled]="!canEdit">
                    </ut-catalogo>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Amortización" [disabled]="true">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-3">
                    <label>Tasa Indx</label>
                    <input pInputText id="tasa" type="text" [(ngModel)]="macroEconomico.tipo" [disabled]="true" />
                </div>
                <div class="field col-12 md:col-3">
                    <label>Fecha Tasa</label>
                    <p-calendar [(ngModel)]="macroEconomico.fecha" [disabled]="true" dateFormat="dd/mm/yy"></p-calendar>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Valor</label>
                    <p-inputNumber inputId="valor" mode="decimal" [disabled]="true" [suffix]="macroEconomico.unidad"
                        [(ngModel)]="macroEconomico.valor">
                    </p-inputNumber>
                </div>
            </div>
            <ut-amortizacion [data]="credito.amortizacion" [prefix]="credito?.moneda?.config?.prefix"></ut-amortizacion>
        </p-tabPanel>
        <p-tabPanel header="Forwards" *ngIf="credito.forwards.length > 0">
            <ut-listado-forward [data]="credito.forwards"></ut-listado-forward>
        </p-tabPanel>
        <p-tabPanel header="Pagos" *ngIf="credito.pagos.length > 0">
            <ut-detalle-pago [data]="credito.pagos" [prefix]="credito.moneda.config.prefix"></ut-detalle-pago>
        </p-tabPanel>
    </p-tabView>

    <ng-template pTemplate="footer">
        <button pButton [icon]="indexTab === 0 ? 'pi pi-arrow-right': 'pi pi-times'" (click)="procesarCredito()"
            [label]="indexTab === 0 ? 'Siguiente': 'Cerrar'" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
<!-- Detalle de Credito -->

<!-- Pago Creditos -->
<p-dialog #credPago [modal]="true" header="Registrar pago (#{{credito.id}} - Pg:{{credito.pagare}})" *ngIf="displayPago"
    [(visible)]="displayPago" [style]="{width:'90vw'}">
    <p-toast [key]="'dialog'"></p-toast>
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-2">
            <label>Pago a</label>
            <p-dropdown [options]="['Capital', 'Interes']" [(ngModel)]="detallePago.tipopago"
                placeholder="Seleccione una opción" [appendTo]="credPago"></p-dropdown>
        </div>
        <div class="field col-12 md:col-2">
            <label>Fecha de Pago</label>
            <p-calendar [appendTo]="credPago" [(ngModel)]="detallePago.fechapago" dateFormat="dd/mm/yy"
                (onSelect)="cambioFechaPago()" [disabled]="pagos.length > 0">
            </p-calendar>
        </div>
        <div class="field col-12 md:col-2" *ngIf="detallePago.tipopago && detallePago.fechapago">
            <label>Forma de Pago</label>
            <ut-catalogo [idCatalogo]="'FORPAG'" [appendTo]="credPago" (onSelect)="seleccionFormaPago($event)"
                [filter]="'moneda/'+ credito.regional.config.monedalocal +'?' + credito.moneda.id" [default]="undefined">
            </ut-catalogo>
        </div>
        <div class="field col-12 md:col-3" *ngIf="detallePago?.formapago === 'FORWARD'">
            <label>Forward</label>
            <ut-forward [appendTo]="credPago" [data]="credito.forwards" (forward)="seleccionForward($event)">
            </ut-forward>
        </div>
        <div class="field col-12 md:col-3" *ngIf="aplTRM">
            <label>TRM</label>
            <p-inputNumber [showButtons]="false" inputId="valor" mode="currency" currency="COP" [min]="1"
                [(ngModel)]="detallePago.trm" [disabled]="!canEditTRM">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label>Valor</label>
            <p-inputNumber [showButtons]="false" inputId="valor" mode="currency"
                [currency]="credito.moneda.config.prefix" [(ngModel)]="detallePago.valor" [min]="1"
                [max]="valorMaxPago">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-1 button">
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success"
                (click)="guardarDetallePago()"></button>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                (click)="limpiarDetallePago()"></button>
        </div>
    </div>
    <ut-detalle-pago [(data)]="pagos" [prefix]="credito.moneda.config.prefix" [aplAccion]="true"></ut-detalle-pago>
    <ng-template pTemplate="footer">
        <button pButton [icon]="'pi pi-save'" (click)="guardarPagos()" [label]="'Guardar'"></button>
    </ng-template>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
    </p-confirmDialog>
</p-dialog>