<p-toast></p-toast>
<p-blockUI [blocked]="isLoading"></p-blockUI>

<div class="grid">
    <div class="col-12">
        <p-card [header]="'Usuarios'">
            <p-table [value]="usuarios" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
                [paginator]="true" >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-button icon="pi pi-plus" label="Crear Usuario" (click)="verModalAddUsuario = true"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Usuario</th>
                        <th>Nombres</th>
                        <th>Role</th>
                        <th>Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>{{usuario.nick}}</td>
                        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                        <td>{{usuario.role}}</td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>

<p-dialog #dialog header="Crear Usuario" [(visible)]="verModalAddUsuario" [modal]="true">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label htmlFor="nombres">Nombre</label>
            <input pInputText id="nombres" type="text" [(ngModel)]="usuario.nombre" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="apellidos">Apellido</label>
            <input pInputText id="apellidos" type="text" [(ngModel)]="usuario.apellido" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="nick">Usuario</label>
            <input pInputText id="nick" type="text" [(ngModel)]="usuario.nick" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="password">Contraseña</label>
            <input pInputText id="password" type="password" [(ngModel)]="usuario.password" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="state">Role</label>
            <p-dropdown placeholder="Seleccione un role" [options]="roles" [(ngModel)]="usuario.role"
                [appendTo]="dialog"></p-dropdown>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-save" (click)="crearUsuario()" label="Guardar" class="p-button-outlined"></button>
    </ng-template>

</p-dialog>