<div class="layout-topbar">
    <a class="layout-topbar-logo">
        <img src="assets/layout/images/logo.png" alt="logo">
        <!-- <span>Sinergias</span> -->
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <a class="p-link layout-topbar-button" (click)="logOut()">
            <i class="pi pi-sign-out"></i>
            <span>Calendar</span>
        </a>
    </div>
</div>