<p-toast></p-toast>
<p-blockUI [blocked]="isLoading"></p-blockUI>

<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-fileUpload #fileupload
        mode="basic"
        chooseLabel="Archivo"
        accept=".xls, .xlsx"
        (onSelect)="onSelectFile($event)"
        [auto]="false"
        (onBeforeUpload)="onBeforeUpload()"
      ></p-fileUpload>
    </div>
  </p-toolbar>
</div>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>